<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
      
        <title>Hitesh</title>
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="normalize.min.css">
        <link rel="stylesheet" href="main.css">
      
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <table>
                    <tr>
                        <td>
                                <img src="pic1.jpg" alt="profile picture" class="img-circle" height="50" width="50"/>
                        </td>
                        <td>
                                <h1 class="title">HITESH KOLLA</h1>
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                        </td>
                        <td><a href="/">Home</a>
                            <a href="calc">Day calculator</a>
                            <a href="contact">Contact</a>
                            <a href="guestbook">Guestbook</a>
                        </td>
                    </tr>

                </table>                 
              
              
            </header>
          
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>My Background </h1>
                        <p>I am kolla hitesh from hyderabad, telangana,India. <br>
                            I have done my undergraduation in electronics and communication from Mahatma Gandhi Institution Of Technology.<br>
                            Now Iam currently persuing master in applied computer science This is going be a fresh experience.<br>
                            <p>
                    </header>
                    <section>
                        <h2>My Plans</h2>
                        <p> I have special interset in desiging and like to master it in this course. <br>
                            I like run my own application in upcoming years.<br></p>
                    </section>
                    <section>
                        <h2>My Interests</h2>
                        <p> I love to play snookers apart from these like playing cricket, badminton, basketball.<br></p>
                    </section>
                    <footer>
                      
                        <p></p>
                    </footer>
                </article>

                <aside>
                <div style="float:left"> 
                    <iframe width="300" height="300" src="https://www.youtube.com/embed/2OcbJkQY-SA" >
                    </iframe>
                </div> 
                    <div style="float:left">   
                         
                          
                            <a href="#"><img class="icons" alt="GIT" src="GIT.jpg"/></a>
                         <a href="#"><img class="icons" alt="Linkedin"  src="Linkedin.jpg"/></a>
                            <a href="#"><img class="icons" alt="Bit Bucket" src="BitBucket.jpg"/></a>
                          
                          </div>

                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>All roads that lead to success have to pass through hard word BOULEVARD at somepoint.</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
